#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.status-pendiente {
  color: orange;
}
.status-en.preparación { /* Ojo con el espacio si lo tienes */
  color: blue;
}
.status-entregado {
  color: green;
}
.status-cancelado {
  color: red;
}
.order-actions {
  margin-top: 10px;
}
.main-layout {
  display: flex;
  gap: 20px;
}

.sales-forms {
  flex: 1;
}

.admin-section {
  flex: 2;
}

.order-card {
  position: relative;
}

.order-type {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #eee;
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 0.8em;
  color: #121212;
  font-weight: 800;
}

.register-sale-btn {
  background-color: #28a745;
  color: white;
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
}
